<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bulma.css">
    <title>Error</title>
</head>
<body>

    <section class="section" style="margin-top: 10%; margin-bottom: 15%;">
        <div class="container">
            <section class="hero has-text-right is-dark is-bold">
                <section class="hero-body">
                    <p class="subtitle has-text-info is-spaced is-3">
                        Something unfortunately broke :(
                    </p>
                    <p class="subtitle has-text-warning">
                        We're sorry.
                    </p>
                </section>
                <p class="subtitle is-5 has-text-centered">
                    <a href="/">
                        <button class="button is-dark is-bold">
                            &lt;&lt; Head back to home page
                        </button>
                    </a>
                </p>
            </section>
        </div>
    </section>

</body>
</html>