{% extends "layout.html" %}
{% block home %}

<div class="container">
    <a href="/feedback">
        <section class="hero is-info is-small">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="subtitle is-3 has-text-white">
                        Enter feedbacks &RightTriangleBar;
                    </h1>
                </div>
            </div>
        </section>
    </a>
    <br><br>
    <a href="/viewall">
        <section class="hero is-success is-small">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="subtitle is-3 has-text-white">
                        View records &LowerRightArrow;
                    </h1>
                </div>
            </div>
        </section>
    </a>
</div>

{% endblock %}