<html>
    <head>
        <title>Student Report PDF</title>
    </head>
<body>

    <h2 class="subtitle is-4">Assessment for Learning</h2>

    <h1 class="subtitle is-3" align="center">IGCSE PHYSICS (0625) - Assignment Feedback Sheet</h1>

    <br>
    <br>

    <table border="0" width="100%" align="center" class="table box" style="overflow: scroll;">
        <thead>
            <tr>
                <th width="55%"> </th>
                <th width="15%" align="center">Assignment 1</th>
                <th width="15%" align="center">Assignment 2</th>
                <th width="15%" align="center">Final</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="55%">AO1: KNOWLEDGE WITH UNDERSTANDING</td>
                <td width="15%">Score (max 25)</td>
                <td width="15%">Score (max 25)</td>
                <td width="15%">Score (max 25)</td>
            </tr>
            <tr>
                <td width="55%">{{comments.ao1}}</td>
                <td width="15%">12</td>
                <td width="15%">56</td>
                <td width="15%">45</td>
            </tr>
            <tr>
                <td width="55%">AO2: HANDLING INFORMATION AND PROBLEM SOLVING</td>
                <td width="15%">Score (max 25)</td>
                <td width="15%">Score (max 25)</td>
                <td width="15%">Score (max 25)</td>
            </tr>
        </tbody>
    </table>
</body>
</html>